test/fixtures/sample_wsdls/IcmFindInventoryService-V1-0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IcmFindInventoryService-V1-0" 
	targetNamespace="http://services.gid.gap.com/FindInventoryService-V1-0" 
	xmlns:tns="http://services.gid.gap.com/FindInventoryService-V1-0" 
	xmlns:types="http://schemas.gid.gap.com/icm/findInventory/v1"
      xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
      xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"  
      xmlns="http://schemas.xmlsoap.org/wsdl/"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	 <wsdl:types>
    	<xsd:schema
			targetNamespace="http://schemas.gid.gap.com/icm/findInventory/v1"
			xmlns:tns="http://schemas.gid.gap.com/icm/findInventory/v1" 
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	
      <xsd:complexType name="PromiseLinesInputType">
      	<xsd:sequence>
      		<xsd:element name="skuId" type="xsd:string"/>
      		<xsd:element name="dc" type="xsd:string"/>
      		<xsd:element name="market" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
      
      <xsd:element name="FindInventoryRequest">
       <xsd:complexType>
      	<xsd:sequence maxOccurs="unbounded" minOccurs="1">
			<xsd:element name="PromiseLinesInput" type="tns:PromiseLinesInputType">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      
      
      </xsd:element>

      <xsd:element name="FindInventoryResponse" type="tns:FindInventoryResponseType">
      </xsd:element>

     
    
      
          <xsd:complexType name="FindInventoryResponseType">
          	<xsd:sequence maxOccurs="unbounded" minOccurs="1">
          		<xsd:element name="PromiseLinesOutput" type="tns:PromiseLinesOutputType">
          		</xsd:element>
          	</xsd:sequence>
          </xsd:complexType>
  
            <xsd:complexType name="PromiseLinesOutputType">

            	<xsd:sequence>
            		<xsd:element name="skuId" type="xsd:string"/>
            		<xsd:element name="quantity" type="xsd:string"/>
            		<xsd:element name="dc" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            	</xsd:sequence>
            </xsd:complexType>
            
            
            <xsd:element name="FindInventoryByDCRequest">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="market" type="xsd:string"/>

            			<xsd:sequence maxOccurs="unbounded" minOccurs="1">
            				<xsd:element name="itemId" type="xsd:string">
            				</xsd:element>
            			</xsd:sequence>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="FindInventoryByDCResponse" type="tns:FindInventoryResponseType">             

            </xsd:element>
    
    
      <xsd:complexType name="FindGlobalInventoryRequestType">

      <xsd:sequence>
            			<xsd:element name="market" type="xsd:string"/>

            			<xsd:sequence maxOccurs="unbounded" minOccurs="1">
            				<xsd:element name="itemId" type="xsd:string">
            				</xsd:element>
            			</xsd:sequence>
            		</xsd:sequence>
            </xsd:complexType>
            
            
        
            <xsd:element name="FindGlobalInventoryRequest" type="tns:FindGlobalInventoryRequestType">
            	
            </xsd:element>
             
            <xsd:element name="FindGlobalInventoryResponse" type="tns:FindInventoryResponseType">            	

            </xsd:element>

            <xsd:group name="ModelGroupDefinition">
            	<xsd:sequence/>
            </xsd:group>
      
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FindInventoryResponse">
    <wsdl:part name="parameters" element="types:FindInventoryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindInventoryRequest">
    <wsdl:part name="parameters" element="types:FindInventoryRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindInventoryByDCResponse">
    <wsdl:part name="parameters" element="types:FindInventoryByDCResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindGlobalInventoryResponse">
    <wsdl:part name="parameters" element="types:FindGlobalInventoryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindInventoryByDCRequest">
    <wsdl:part name="parameters" element="types:FindInventoryByDCRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindGlobalInventoryRequest">
    <wsdl:part name="parameters" element="types:FindGlobalInventoryRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IcmFindInventory">
    <wsdl:operation name="FindInventory">
      <wsdl:input message="tns:FindInventoryRequest">
    </wsdl:input>
      <wsdl:output message="tns:FindInventoryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindInventoryByDC">
      <wsdl:input message="tns:FindInventoryByDCRequest">
    </wsdl:input>
      <wsdl:output message="tns:FindInventoryByDCResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindGlobalInventory">
      <wsdl:input message="tns:FindGlobalInventoryRequest">
    </wsdl:input>
      <wsdl:output message="tns:FindGlobalInventoryResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IcmFindInventorySOAP" type="tns:IcmFindInventory">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FindInventory">
      <soap:operation soapAction="http://gid.gap.services.com/FindInventoryService-V1-0/FindInventory"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindInventoryByDC">
      <soap:operation soapAction="http://gid.gap.services.com/FindInventoryService-V1-0/FindInventoryByDC"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindGlobalInventory">
      <soap:operation soapAction="http://gid.gap.services.com/FindInventoryService-V1-0/FindGlobalInventory"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IcmFindInventory">
    <wsdl:port name="IcmFindInventorySOAP" binding="tns:IcmFindInventorySOAP">
      <soap:address location="http://localhost:8080/ICMFindInventoryServiceProvider-V1-0/services/IcmFindInventory"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
