test/fixtures/sample_wsdls/PromotionSettlementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.gid.gap.com/settlementService/v1"
                  xmlns:faults="http://services.gid.gap.com/settlementService/v1/faults"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns="http://services.gid.gap.com/settlementService/v1"
                  xmlns:types="http://schemas.gid.gap.com/settlementService/v1" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:java="http://schemas.xmlsoap.org/wsdl/java/"> 

  <wsdl:types>

    <xs:schema targetNamespace="http://schemas.gid.gap.com/settlementService/v1"
               xmlns:alive="http://schemas.gid.gap.com/servicealive/v1"
               xmlns:xs="http://www.w3.org/2001/XMLSchema">
               
      <xs:import namespace="http://schemas.gid.gap.com/servicealive/v1"
                 schemaLocation="ServiceAlive-v1.0.xsd"/>

  			<xs:complexType name="reversePromotionSettlementRequest">
                <xs:sequence>
                    <xs:element minOccurs="1" name="requestDateTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="1" name="storeId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="1" name="transactionId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="promotionSettlementRequest">
                <xs:sequence>
                    <xs:element minOccurs="1" name="brand" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="1" name="channel" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="creditCardSecureKey" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="customerId" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="promoCodeAwards" nillable="true" type="types:promoCodeAward"/>
                    <xs:element minOccurs="1" name="requestDateTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="1" name="storeId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="1" name="transactionId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="promoCodeAward">
                <xs:sequence>
                    <xs:element minOccurs="0" name="awardId" nillable="true" type="xs:integer"/>
                    <xs:element minOccurs="0" name="promoLevelId" nillable="true" type="xs:integer"/>
                    <xs:element minOccurs="1" name="promotionCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="promotionId" nillable="true" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="reversePromotionSettlement">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="reversePromotionSettlementRequest" nillable="true" type="types:reversePromotionSettlementRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="settlePromotionCodes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="settlePromotionCodesRequest" nillable="true" type="types:promotionSettlementRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>         
            <xs:element name="ServiceAliveRequest" type="alive:ServiceAliveRequestType" />
		      <xs:element name="ServiceAliveResponse" type="alive:ServiceAliveResponseType" />
		      <xs:element name="ServiceUnavailableFaultMessage" type="alive:ServiceUnavailableFaultMessageType" />
        </xs:schema>
        <xs:schema targetNamespace="http://services.gid.gap.com/settlementService/v1/faults">
      		<xs:element name="PromotionSettlementFaultMessage" nillable="true" type="xs:string" />
    	</xs:schema>
  </wsdl:types>
  
  <wsdl:message name="settlePromotionCodesRequest">
    <wsdl:part name="input" element="types:settlePromotionCodes"/>
  </wsdl:message>
  <wsdl:message name="reversePromotionSettlementRequest">
    <wsdl:part name="input" element="types:reversePromotionSettlement"/>
  </wsdl:message>
  <wsdl:message name="PromotionSettlementFault">
    <wsdl:part name="message" element="faults:PromotionSettlementFaultMessage"/>
  </wsdl:message>
  
  <wsdl:message name="ServiceAliveRequest">
    <wsdl:part name="input" element="types:ServiceAliveRequest" />
  </wsdl:message>  
  <wsdl:message name="ServiceAliveResponse">
    <wsdl:part name="output" element="types:ServiceAliveResponse" />
  </wsdl:message>  
  <wsdl:message name="ServiceUnavailableFault">
    <wsdl:part name="message" element="types:ServiceUnavailableFaultMessage" />
  </wsdl:message>
    
  <wsdl:portType name="PromotionSettlementServicePortType">
    <wsdl:operation name="serviceAlive">
      <wsdl:input name="ServiceAliveRequest" message="ns:ServiceAliveRequest" />
      <wsdl:output name="ServiceAliveResponse" message="ns:ServiceAliveResponse" />
    </wsdl:operation>
    <wsdl:operation name="settlePromotionCodes">
        <wsdl:input name="settlePromotionCodesRequest" message="ns:settlePromotionCodesRequest"/>
        <wsdl:fault name="PromotionSettlementException" message="ns:PromotionSettlementFault"/>
    </wsdl:operation>
    <wsdl:operation name="reversePromotionSettlement">
        <wsdl:input name="reversePromotionSettlementRequest" message="ns:reversePromotionSettlementRequest"/>
        <wsdl:fault name="PromotionSettlementException" message="ns:PromotionSettlementFault"/>
    </wsdl:operation>
  </wsdl:portType>  
 
  
  <wsdl:binding name="PromotionSettlementServiceSoapBinding" type="ns:PromotionSettlementServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="serviceAlive">    
      <soap:operation soapAction="serviceAlive" style="document"/>      
      <wsdl:input name="ServiceAliveRequest">
        <soap:body use="literal"/>
      </wsdl:input>      
      <wsdl:output name="ServiceAliveResponse">
        <soap:body use="literal"/>
      </wsdl:output>      
    </wsdl:operation>
    <wsdl:operation name="settlePromotionCodes">
      <soap:operation soapAction="settlePromotionCodes" style="document"/>  
      <wsdl:input name="settlePromotionCodesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="PromotionSettlementException">
        <soap:fault name="PromotionSettlementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reversePromotionSettlement">
      <soap:operation soapAction="reversePromotionSettlement" style="document"/>  
      <wsdl:input name="reversePromotionSettlementRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="PromotionSettlementException">
        <soap:fault name="PromotionSettlementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="PromotionSettlementService">
    <wsdl:port name="PromotionSettlementServiceHttpSoapEndpoint" binding="ns:PromotionSettlementServiceSoapBinding">
      <soap:address location="http://ws-mpc-store.vdev.gid.gap.com/PromotionSettlementServiceProviderV1-0/services/PromotionSettlementService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
